<!doctype html> 
<html lang="en"> 
  <head> 
    <!-- Required meta tags --> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
 
    <!-- Bootstrap CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> 

    <title>Fruit Recognition</title> 
  </head> 
  <body class="bg-gray-200"> 
    <header class="text-gray-600 body-font -my-8"> 
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"> 
           
        <img alt="PCCOE LOGO" class="wmh-img-rsp" src="http://www.pccoepune.com/images/pccoe-logo-new.webp" width="100px"> 
 
        <span class="ml-3 text-xl" style="font-size:1.725rem ">Fruits Ripeness Detection</span> 
      </a> 
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" style="font-size:1.525rem "> 
      <a href="/" class="mr-5 hover:text-gray-900">Home</a> 
      <a href="/prediction" class="mr-5 hover:text-gray-900">Prediction</a> 
      <a href="/about" class="mr-5 hover:text-gray-900">About us</a> 
       
    </nav> 
  </div> 
      </header><hr> 
      <section class="text-gray-600 body-font -my-8"> 
        <div style="text-align:centre; width:100%; margin-top: 100px;"> 
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center" style="width:1000px"> 
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest" style="text-align:center">Our Mentors</h1> 
            <div style="display: flex; justify-content:space-between;" > 
              <div class="p-4 lg:w-1/2" style="width: 100%;"> 
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"> 
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://computer.pccoepune.com/assets/images/faculty2/dr%20rajeshwari%20k.jpg"> 
                  <div class="flex-grow sm:pl-8"> 
                    <h2 class="title-font font-medium text-lg text-gray-900">Dr. K. Rajeswari</h2> 
                    <br> 
                    <h3 class="text-gray-500 mb-3">Head of Department</h3> 
                  </div> 
                </div> 
              </div> 
              <div class="p-4 lg:w-1/2" style="width: 100%;"> 
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                  <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://lh4.googleusercontent.com/5k_C9g5QwlNRhdj1LuxMnETVYULOj3GxObEIgFTY2UP3KVYacNHL0_7HCDoNhduuQsbu5zbRWmFcgLhUkn1-QDQrqLnLT3-Uk8b5ffy7G7S325PbaAuCPQMwLuoVwo-jpw=w1280"> 
                  <div class="flex-grow sm:pl-8"> 
                    <h2 class="title-font font-medium text-lg text-gray-900">Mrs. Sushma R. Vispute </h2> <br> 
                    <h3 class="text-gray-500 mb-3">Major Project Mentor</h3> 
                     
                  </div> 
                </div> 
              </div> 
            </div> 
          </div> 
        </div> 
      </section> 
      <section class="text-gray-600 body-font -my-8"> 
        <div class="container px-5 py-24 mx-auto"> 
          <div class="flex flex-col text-center w-full mb-20"> 
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1> 
          </div> 
          <div class="flex flex-wrap -m-4"> 
            <div class="p-4 lg:w-1/2"> 
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"> 
                 
                <div class="flex-grow sm:pl-8"> 
                  <h2 class="title-font font-medium text-lg text-gray-900">Rahul Karpe(Team Leader)</h2> 
                  <h3 class="text-gray-500 mb-3">Dataset</h3> 
                </span> 
                </div> 
              </div> 
            </div> 
            <div class="p-4 lg:w-1/2"> 
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"> 
                <div class="flex-grow sm:pl-8"> 
                  <h2 class="title-font font-medium text-lg text-gray-900">Harshwardhan Patki</h2> 
                  <h3 class="text-gray-500 mb-3">Interface/IoT</h3> 
                </div> 
              </div> 
            </div> 
            <div class="p-4 lg:w-1/2"> 
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"> 
                <div class="flex-grow sm:pl-8"> 
                  <h2 class="title-font font-medium text-lg text-gray-900">Prathamesh Shahane</h2> 
                  <h3 class="text-gray-500 mb-3">CNN Architecture</h3> 
                </div> 
              </div> 
            </div> 
            <div class="p-4 lg:w-1/2"> 
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"> 
                <div class="flex-grow sm:pl-8"> 
                  <h2 class="title-font font-medium text-lg text-gray-900">Pratik Patil</h2> 
                  <h3 class="text-gray-500 mb-3">IoT/Dev</h3> 
                </div> 
              </div> 
            </div> 
          </div> 
        </div> 
      </section> 
 
 
    <!-- Options we have JavaScript! --> 
 
    <!-- Option 1: Bootstrap Bundle with Popper --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
 
    <!-- Option 2: Separate Popper and Bootstrap JS --> 
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script> 
    --> 
  </body> 
</html> 